$sub-color: grey;
$main-color: black;

.form-conatiner {
    padding: 30px 10px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0px auto;

    .inp-label {
        margin: 15px;

        &--radio {
            display: flex;
            flex-direction: row;
            margin: 15px;
            justify-content: space-between;

            .radio-item {
                width: 90%;

                .radio-btn:checked {
                    background-color: white;
                }

                .radio-btn:checked::before {
                    content: "";
                    display: block;
                    position: relative;
                    top: 2px;
                    left: 2.5px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: black;
                }
            }
        }

        .label {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.54;
            margin: 1.5em 0 3px;
            padding: 0;
            margin-top: 0;
            display: block;
            width: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .input {
            font-weight: 400;
            background: none;
            line-height: 1.54;
            background-color: white;
            color: #637282;
            height: 44px;
            margin-top: 16px;
            padding: 12px;
            width: 100%;
            font-size: 13px;

            &--attach {
                padding: 0;
            }
        }
    }

    .title {
        margin: 10px 15px;
    }



    .button {
        background-color: Black;
        border: 1px solid black;
        border-radius: 0;
        color: white;
        font-family: "AtlasGrotesk", "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        margin: 15px auto;

        @media screen and (min-width: 576px) {
            margin: 15px;
        }


        padding: 6px 50px;
        width: 156px;
        margin-top: 30px;

        &:hover {
            background-color: rgb(201, 197, 197);
            color: black;
            border: 1px solid black;
        }
    }
}